.avatar {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  user-select: none;
}
